/*** Constants -- Do not delete ***/
$largeScreen: 50rem;
$mediumScreen: 31.87rem;

/*** end Constants ***/

$mainHeading: 1.7rem;
$subHeading: 1.45rem;

$headingFont: "Bree Serif", serif;
$copyFont: "Open Sans", sans-serif;

$boldWeight: 700;
$lightWeight: 400;

$gutter: 2%;

$primaryColor: #8bb8c4;
$secondaryColor: #fbdfb2 /*#699e1c*/;
$fontColor: #f5f5f5;
