$mainHeading: 1.8rem;
$subHeading: 1.5rem;

$gutter: 2%;
$primaryColor: #0e0a07; /*#FFFEDB*/
$secondaryColor: #44ace2;

$headingFontFamily: "Didact Gothic", sans-serif;
$copyFontFamily: "Arimo", sans-serif;

$primaryColor: #323334;
$secondaryColor: #32527b;
