// Main -----------------------------------------------------------------------

.flip {
    transform: rotate(0.5turn);
}

.llgallery img {
    width: auto;
    float: left;
    margin: 0 auto;
    padding: $gutter;
}

/* *** Column Layout *** */
.row {
    clear: both;
}

.column {
    padding: 0 $gutter;
}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .medium-#{$i} {
        width: $w;
        float: left;
    }
}
