/* Default Styling ------------------------------------------------------------- */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $mainFontFamily;
    background-color: #efefef;
}

img {
    max-width: 100%;
}
.myslider {
    /* margin: 0 auto;*/
    padding: $gutter;
}
/*.myslider img {
    width: 400px;
}*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
main,
nav,
header,
footer {
    max-width: 64rem;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}
nav {
    background-color: darken($secondaryColor, 40%);
}

/**** --- Header --- ***/
header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    h1,
    h2 {
        margin: $gutter;
        padding: $gutter;
        color: #fff;
    }
    h1 {
        font-size: $mainHeading;
    }
    h2 {
        font-size: $subHeading;
    }
}

/**** --- Nav ---- ***/

nav {
    /*background-color: darken($secondaryColor, 40%) !important;*/
    font-family: $mainFontFamily;
    /*ul {
        position: absolute;
        z-index: 1;
    }*/
    ul li {
        float: left;
        /*background-color: darken($secondaryColor, 40%) !important;*/
        width: 100%;
        border-top: solid 1px rgba(0, 0, 0, 0.3);
    }

    ul li:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    ul li a {
        text-align: center;
        padding: 0.5rem 1rem;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        transition: background 0.75s ease, color 0.75s ease;
    }

    ul li.active a {
        background-color: darken($secondaryColor, 10%);
        color: #fff;
    }

    ul li a:hover {
        color: #eaeaea;
        background-color: darken($secondaryColor, 10%);
    }
}

.closed {
    display: none;
}
.navbtnWrapper {
    background-color: $primaryColor;
}
.menu-btn {
    background-color: $primaryColor;
    border: none;
    display: block;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
/* Main ------------------------------------------------------------- */
main {
    max-width: 60rem;
    background-color: $secondaryColor;
    overflow-x: hidden;
    .coolTrick {
        display: block;
        float: left;
        width: 100%;
        margin: 0 auto;
        position: relative;
        @extend .addMarginBottom;
    }

    .coolTrick:hover .coverColor {
        opacity: 0.1;
    }

    .icon {
        position: absolute;
        top: 100px;
        right: 2px;
        width: 100%;
        text-align: center;
    }

    .text {
        position: absolute;
        top: 215px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 1.3rem;
    }

    span {
        position: absolute;
        display: block;
        bottom: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        padding: 0.3rem;
        margin-left: 20px;
        color: #fff;
        font-size: 1.1rem;
    }

    .photograph {
        margin: 0 auto;
        max-width: 100%;
    }

    .coverColor {
        background-color: $primaryColor;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
    }

    .addMarginBottom {
        margin-bottom: $gutter;
    }

    section h2 {
        font-size: $subHeading;
        padding: $gutter;
        color: #fff;
    }
}

/* Footer ------------------------------------------------------------- */

footer {
    padding: $gutter;
    clear: both;
    background-color: darken($secondaryColor, 40%);
    text-align: center;
    p {
        color: #fff;
        padding: 0.5rem $gutter;
    }
    a {
        color: #fff;
    }
}
