$mainHeading: 1.7rem;
$subHeading: 1.45rem;

$fontFamily: "Dosis", sans-serif;
$fontFamilyHeading: "Piedra", sans-serif;
$fontFamilyCopy: "Trochut", sans-serif;
$boldWeight: 700;
$lightWeight: 400;

$gutter: 2%;

$primaryColor: #7d8a4e /*#d9d140;*/ /*#d13a6e*/;
$secondaryColor: #ccc59b /*#699e1c*/;
$fontColor: #efefef;

/*** Animal Animation ***/
$anim-name: moving_animal;
