$mainHeading: 2.5rem;
$subHeading: 1.2rem;

$fontFamily: "Lobster Two", sans-serif;
$bodyFontFamily: "Montserrat", sans-serif;
$boldWeight: 700;
$lightWeight: 400;
$gutter: 2%;

$secondaryColor: #699e1c; // #12b32f;
$primaryColor: #ff9519;
$bodyColor: #f9f9f9;
// $primaryColor: #d13a6e;
// $secondaryColor: #699e1c;
$fontColor: #efefef;
