$primary-color: #0987b6; // #636494;
$gutter: 2%;

$main-heading-size: 2rem;
$second-heading-size: 1.8rem;
$copy-font-size: 1.3rem;

$main-heading-font: "Life Savers";
$bold: 700;
$normal-weight: 400;
